nav{
    display: flex;
    
    font-size: 18px;
    padding: 2rem 3.5rem;
}

#logo{
    width: 110px;
    margin-right: 5.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 5;
}

.list-left{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.list-right{
    display: flex;
    align-items: inherit;
    gap: 4rem;
}

.list-right li:last-child{
   
}

.nav__list-item-right{
    align-self: right;
}

.dropdown__container{
    position: relative;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: 10px;
    width: 13px;
}

.Features{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    border-radius: 15px;
    padding: 1.5rem 2rem 0.5rem;
    position: absolute;
    top: 45px;
    left: -90px;
    right: 0px;
}

.Company{ 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    padding: 1.5rem 1rem 0.5rem;
    position: absolute;
    top: 45px;
    left: 0px;
    right: -40px;
}

.Company li, .Features li{
    margin-bottom: 1.5rem;
}

.nav__toggle-btn{
    display: none;
}

#register{
    border: 2px solid var(--Medium_Gray);
    border-radius: 18px;
    padding: 1rem 2rem;
}

#register:hover, #register:hover a{
    border-color: var(--Almost_Black);
    color: var(--Almost_Black);   
    font-weight: 700;
}

.overall{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); 
}

/* .onhover:hover{
    color: var(--Almost_Black);
    border-color: var(--Almost_Black);
} */


/* Media query */
@media screen and (max-width: 675px) {
    nav{
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem 0rem;
        max-width: 100vw;
    }

    nav .container{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        margin: 0;
        padding: 6rem 1rem 0;
        background: var(--Almost_White);
        width: 65vw;
        height: 100vh;
        align-items: flex-start;
    }

    .list-left, .list-right{
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
        
    }

    .list-right{
        align-items: center;
        width: 100%;
    }

    .list-right li:last-child{
        padding: 1rem 31%;
    }

    .Features, .Company{
        position: static;
        box-shadow: none;
    }
    #logo{
        width: 80px;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .nav__toggle-btn{
        display: inline-block;
        position: absolute;
        top: 3em;
        right: 1em;
        transform: translate(-50%, -50%);
    }

    .show__nav{
        display: block;
        
    }

    .hide__nav{
        display: none;
    }
}

















